.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: #ffffff;
  border-radius: 12px;
  width: 600px;
  max-height: 98vh;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
  overflow: hidden;
  padding: 0px 15px 0px 14px;
}
            
input,
select,
textarea {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 7px;
  padding: 5px;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 22px;
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  transition: color 0.2s;
}
.modal-close:hover {
  color: #000;
}

/* Header */
.modal-content h2 {
  margin: 0;
  padding: 16px;
  font-size: 20px;
  border-bottom: 1px solid #eee;
  margin-left: -16px;
  margin-right: -16px;
  width: calc(100% + 22px);
  font-weight: 600;
}

/* Scrollable content */
.modal-body {
  padding: 16px;
  overflow-y: auto;
  flex: 1;
}

.modal-body label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
  color: #333;
}

.modal-body input,
.modal-body textarea,
.modal-body select {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  font-family: inherit;
  transition: border-color 0.2s, box-shadow 0.2s;
}
.modal-body input:focus,
.modal-body textarea:focus,
.modal-body select:focus {
  border-color: #1976d2;
  box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.2);
  outline: none;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 14px;
  font-size: 14px;
}

/* Footer Buttons */
.modal-actions {
  padding: 12px 16px;
  border-top: 1px solid #eee;
  margin-left: -16px;
  margin-right: -16px;
  width: calc(100% + 32px);
  display: flex;
  justify-content: flex-end;
  gap: 12px;

}

.confirm-btn {
  background-color: #2e7d32;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.confirm-btn:hover {
  background-color: #1b5e20;
}

.cancel-btn {
  background-color: #c62828;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.cancel-btn:hover {
  background-color: #a4161a;
}

/* Open button */
.add-button {
  padding: 10px 20px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.add-button:hover {
  background-color: #155fa0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

