.app-layout {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}
*{
  font-family: 'Segoe UI', sans-serif;
}

.main-content {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #ffffff; /* couleur de fond globale comme dans ta maquette */
  font-family: 'Segoe UI', sans-serif;
}
/* .zoom-75{
  zoom:75%;
} */
